<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <style>
       table th, td  {
          border: 1px solid;
          padding: 10px;
          
          
        }
        td{
          color: purple;

        }
        th{
          background-color: rgb(86, 11, 155);
          color: white;
        }
        
        table {
          width: 80%;
          border-collapse: collapse;
          margin-left: 10%;

        }
        </style>
    <table>
       <tr>
       
        <th>ID</th>
        <th>Currency</th>
        <th>Name</th>
        <th>Wallet</th>





       </tr>
       {%for acount in accounts %}
       <tr>
        <td>{{acount.account_number}}</td>
        <td>{{acount.account_type}}</td>
        <td>{{acount.name}}</td>
        <td>{{acount.wallet}}</td>




       





       </tr>
       {%endfor%}
    </table>
    
</body>
</html>