<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <style>
       table th, td  {
          border: 1px solid;
          padding: 10px;
          
          
        }
        
        table {
          width: 80%;
          border-collapse: collapse;
          margin-left: 10%;

        }
        th{
          background-color: rgb(92, 21, 159);
          color: white;
        }
        </style>
    <table>
       <tr>
        
        <th>Issuer</th>
        <th>Symbol</th>
        <th>Symbol</th>
        <th>Symbol</th>
        <th>status</th>
        <th>Expiry date</th>






      
       </tr>
       {%for card in cards %}
       <tr>
        <td>{{card.wallet}}</td>
        <td>{{card.account}}</td>
        <td>{{card.issuer}}</td>
        <td>{{card.card_number}}</td>
        <td>{{card.card_status}}</td>
        <td>{{card.expiry_date}}</td>



       </tr>
       {%endfor%}
    </table>
    
</body>
</html>
        
       