<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <style>
       table th, td  {
          border: 1px solid;
          padding: 10px;
          margin-left: 10%;

          
          
        }
        td{
          color: purple;

        }
        th{
          background-color: rgb(99, 20, 174);
          color: white;
        }
        
        table {
          width: 80%;
          border-collapse: collapse;
          margin-left: 10%;

        }
        </style>
    <table>
       <tr>
       
        <th>Name </th>
        <th>Gender</th>
        <th>Email</th>
        <th>Address</th>
        <th>profile</th>
       </tr>
       {%for customer in customers %}
       <tr>
        <td>{{customer.first_name}}</td>
        <td>{{customer.gender}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.address}}</td>
        <td><a href=" {% url 'customer_profile' id=customer.id %}">
 


       </tr>
       {%endfor%}
    </table>
    
</body>
</html>















