<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <style>
       table th, td  {
          border: 1px solid;
          padding: 10px;
          
          
        }
       
        
        table {
          width: 80%;
          border-collapse: collapse;

        }
        th{
          background-color: rgb(97, 22, 167);
          color: white;
        }
       
        </style>
    <table>
       <tr>
       
        <th>Type of loan</th>
        <th>Loan</th>
        <th>Gurantor</th>
        <th>Interest</th>

       </tr>
       {%for loan in loans %}
       <tr>
        <td>{{loan.loan_type}}</td>
        <td>{{loan.amount}}</td>
        <td>{{loan.guaranter}}</td>
        <td>{{loan.intrest_rate}}</td>




       





       </tr>
       {%endfor%}
    </table>
    
</body>
</html>