<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <style>
       table th, td  {
          border: 1px solid;
          padding: 10px;
          
          
        }
        td{
          color: purple;

        }
        
        table {
          width: 80%;
          border-collapse: collapse;

        }
        </style>
    <table>
       <tr>
       
        <th>ID</th>
        <th>Currency</th>
        <th>Time</th>
        <th>Status</th>





       </tr>
       {%for notification in notifications %}
       <tr>
        <td>{{notification.status}}</td>
        <td>{{acount.transaction_id}}</td>
        <td>{{notification.date_time}}</td>
        <td>{{notification.transaction}}</td>




       





       </tr>
       {%endfor%}
    </table>
    
</body>
</html>