<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <style>
       table th, td  {
          border: 1px solid;
          padding: 10px;
          
          
        }
        td{
          color: purple;

        }
        
        table {
          width: 80%;
          border-collapse: collapse;

        }
        </style>
    <table>
       <tr>
       
        <th>Type</th>
        <th>Date</th>
        <th>File</th>
        <th>Amount</th>





       </tr>
       {%for receipt in receipts %}
       <tr>
        <td>{{receipt.receipt_type}}</td>
        <td>{{receipt.receipt_date}}</td>
        <td>{{receipt.receipt_file}}</td>
        <td>{{receipt.total_amount}}</td>



        




       





       </tr>
       {%endfor%}
    </table>
    
</body>
</html>