<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <style>
       table th, td  {
          border: 1px solid;
          padding: 10px;
          
          
        }
        td{
          color: purple;

        }
        th{
          background-color: rgb(107, 20, 189);
          color: white;
        }
        
        table {
          width: 80%;
          border-collapse: collapse;
          margin-left: 10%;

        }
        </style>
    <table>
       <tr>
       
        <th>Origin account</th>
        <th>Receipt</th>
        <th>Wallet</th>
        <th>Time</th>
        <th>Sender</th>
        <th>Charges</th>








       </tr>
       {%for transaction in transactions %}
       <tr>
        <td>{{transaction.origin_account}}</td>
        <td>{{transaction.reciept}}</td>
        <td>{{transaction.wallet}}</td>
        <td>{{transaction.transaction_time}}</td>
        <td>{{transaction.origin_account}}</td>
        <td>{{transaction.transaction_charge}}</td>







       





       </tr>
       {%endfor%}
    </table>
    
</body>
</html>